<div class="card">
    <table>
        <tr>
            <td> Nombres: </td>
            <td> <input [(ngModel)]="paciente.nombre"  type="text" id="nombres" class="" placeholder=" " ></td>
        </tr>
        <tr>
            <td> Apellidos: </td>
            <td><input [(ngModel)]="paciente.apellido" type="text" id="apellidos" class=" " placeholder=" " /></td>
        </tr>
        <tr>
            <td>Numero Cel:</td>
            <td><input [(ngModel)]="paciente.celular" type="text" id="numero" class=" " placeholder=" " /></td>
        </tr>
        <tr>
            <td>Motivos de la cita:</td>
            <td><textarea type="text" id="celular" cols="2" class=" " placeholder=" "></textarea></td>
        </tr>
        <tr>

        </tr>
    </table>
    <div class="border-b pb-3 shadow-md">
        <h2 class="text-center font-medium text-xl">Agendar Citas</h2>
    </div>

</div>